@import "packages/bourbon/bourbon";
$max-width: 100%;
$unit: em(30);
$gutter: $unit;
@import "packages/neat/neat";
@import "helpers/reset";

// VARIABLES

$colorGray1: #333;
$colorGray2: #555;
$colorGray3: #666;
$colorGray4: #999;
$colorGray5: #CCC;
$colorGray6: #fefefe;

$colorLink: rgb(57, 163, 255);

$fontFamilyBase: $helvetica;
$fontSizeBase: 16px;

// HELPERS

@function unit($multiple) {
  @return $unit * $multiple;
}

// BASE
* {
  @include box-sizing(border-box);
}

html,
body {
  background-color: $colorGray6;
  color: $colorGray1;
  font-family: $fontFamilyBase;
  font-size: 16px;
  line-height: unit(1);
}

h1, h2, h3 {
  color: inherit;
}

a {
  color: $colorLink;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

// FORMS
#{$all-text-inputs},
textarea {
  background-color: $colorGray6;
  border-radius: 3px;
  border: 1px solid $colorGray5;
  display: block;
  height: unit(1.25);
  line-height: unit(0.75);
  padding: unit(0.25) unit(0.5);

  @include placeholder {
    color: $colorGray5;
    font-family: $fontFamilyBase;
    font-style: italic;
  }
}

textarea {
  min-height: unit(2.5);
}

#{$all-text-inputs-focus},
textarea:focus {
  background: white;
  border-color: $colorLink;
  box-shadow: 0 0 0 3px rgba($colorLink, 0.3);
}


// CONTENT
.header-global {
  @include outer-container;
  @include pad(unit(0.5) default);
  border-bottom: 1px solid $colorGray5;
  display: none;
}

.login-buttons-dropdown-align-right {
  float: right;
}

.width-wrapper {
  @include outer-container;
}

.stories {
  @include span-columns(3);
  background-color: shade($colorGray6, 5%);
  border-right: 1px solid $colorGray5;
  @include position(fixed, 0px 0 0px 0px);
}

%stories-endcap {
  padding: 1em;
  line-height: 2em;
  height: 4em;
}

.stories-header {
  @extend %stories-endcap;
  border-bottom: 1px solid $colorGray5;
}

.stories-list {
  @include position(absolute, 4em 0 4em 0);
  padding: 1em 1em 0 1em;
  overflow-y: scroll;
}

.story {
  @include fill-parent;
  border-radius: 3px;
  border: 1px solid $colorGray5;
  color: $colorGray4;
  cursor: pointer;
  float: left;
  margin-bottom: 1em;
  padding: 0.5em;

  &:hover,
  &.is-selected {
    color: $colorLink;
    border-color: $colorLink;
    background-color: white;
  }
}

.stories-footer {
  @extend %stories-endcap;
  border-top: 1px solid $colorGray5;
  @include position(absolute, 0 0px 0px 0px);
}

.messages {
  @include span-columns(9);
  @include omega;
  @include pad(default default default 0);
  @include shift(3);
  margin-bottom: unit(2);
}

.message-add {
  @include position(fixed, 0 unit(1) 0px 0px);
  @include shift(6);
  background-color: white;
  height: unit(2.5);
  z-index: 1;

  input[type="text"] {
    @include fill-parent;
    border-width: 2px;
  }
}
