// UTILITIES
@function unit($multiple) {
  @return $unit * $multiple;
}

@mixin square-image {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

// ANIMATIONS
@include keyframes(panelIn) {
  0% {
    @include transform(translate3d(-50px, 0, 0));
    opacity: 0;
  }
  100% {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
  }
}

// VARIABLES
$colorGray1: #333;
$colorGray2: #555;
$colorGray3: #666;
$colorGray4: #999;
$colorGray5: #ccc;
$colorGray6: #fefefe;

$colorLink:       rgb(57, 163, 255);
$colorBackground: $colorGray6;
$colorBorder:     $colorGray4;

$colorStory:  $colorLink;
$colorDefect: #DB6463;
$colorTask:   #32BF90;

$fontFamilyBase: $helvetica;
$fontSizeBase:   16px;
$fontSizeSmall:  em(12);

$smallTicket:  unit(2);
$mediumTicket: unit(4) + 0.5em;
$largeTicket:  unit(8) + 1.5em;

$headerTransition: 0.2s ease-in-out;

// ANIMATIONS

// BASE
* {
  @include box-sizing(border-box);
}

html,
body {
  background-color: $colorBackground;
  color: $colorGray1;
  font-family: $fontFamilyBase;
  font-size: 16px;
  line-height: em(22);
  overflow-x: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  color: inherit;
  font-weight: bold;
}

a {
  color: $colorLink;
  cursor: pointer;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: $fontSizeSmall;
  color: $colorGray5;
}

// MEDIA OBJECT
%media__image {
  float: left;
  margin-right: 0.5em;
}

%media__body {
  overflow: auto;
}

.media__image {
  @extend %media__image;
}

.media__body {
  @extend %media__body;
}

// BLOCKS
%block-base {
  border-radius: 3px;
  display: block;
  text-align: center;
  position: relative;
  border: 1px solid $colorBorder;
}

%block_small {
  $size: 2em;
  @extend %block-base;
  @include size($size);
  line-height: $size;
}

%block_medium {
  $size: unit(1);
  @extend %block-base;
  @include size($size);
  line-height: $size;
}

%block_link {
  &:hover,
  &.is-selected {
    border-color: $colorLink;
    color: $colorLink;
  }

  &:hover {
    box-shadow: 0 0 0 3px rgba($colorLink, 0.2);
  }
}

// AVATAR
%avatar-base {
  @extend %icon;
  @extend [data-icon="user"];
  position: relative;
  color: $colorGray4;

  img {
    @include position(absolute, 0px 0 0 0px);
    border-radius: 3px;
    max-height: 100%;
    max-width: 100%;
  }
}

%avatar_small {
  @extend %avatar-base;
  @extend %block_small;
}

%avatar_medium {
  @extend %avatar-base;
  @extend %block_medium;

  &::before {
    font-size: 1.5em;
  }
}

.avatar_small {
  @extend %avatar_small;
}

.avatar_medium {
  @extend %avatar_medium;
}

// FORMS
#{$all-text-inputs},
textarea,
select {
  background-color: $colorGray6;
  border-radius: 3px;
  border: 1px solid $colorGray4;
  display: block;
  height: 3em;
  line-height: 1em;
  padding: 1em;
  width: 100%;
  margin-bottom: 0.5em;

  @include placeholder {
    color: $colorGray5;
    font-family: $fontFamilyBase;
    font-style: italic;
  }
}

#{$all-text-inputs-focus},
textarea:focus,
select:focus,
input[type="checkbox"]:focus {
  outline: none;
  background: white;
  border-color: $colorLink;
  box-shadow: 0 0 0 3px rgba($colorLink, 0.3);
}

textarea {
  min-height: 5em;
}

input[type="checkbox"] {
  @extend %icon;
  @include size(1em);
  border-radius: 2px;
  border: 1px solid $colorBorder;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    border-color: $colorLink;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($colorLink, 0.3);
  }

  &:checked:before {
    @include position(relative, -3px 0 0 1px);
    content: "\E021";
    font-size: 0.8em;
  }
}

select {
  @include appearance(menulist-button);
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  color: $colorGray3;
  font-size: $fontSizeSmall;
}

button {
  $height: 2em;
  background-color: $colorLink;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: $height;
  line-height: $height - em(2);
  padding: 0 1em;

  &:hover {
    background-color: shade($colorLink, 20%);
  }
}

// LAYOUT
.width-wrapper {
  @include outer-container;
  padding: 1em;
}

.panels {
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
  padding-left: em(60) + 2em;
  padding-bottom: 5em;
  overflow: visible;
}

.panel {
  @include box-flex(1);
  width: 0;
}

// PROGRESS
.progress {
  @include row();
  @include size(100% 0.5em);
  background-color: tint($colorLink, 80%);
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 2em;
}

.progress__fill {
  background-color: $colorLink;
  height: 1em;
}

// LOADER
#iron-router-progress {
  background-color: $colorLink;
  box-shadow: none;

  &::before {
    content: none; // can turn this off somewhere else?
  }
}

