// HELPERS
@function unit($multiple) {
  @return $unit * $multiple;
}

@mixin square-image {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

// ANIMATIONS
@include keyframes(panelIn) {
  0% {
    @include transform(translate3d(-50px, 0, 0));
    opacity: 0;
  }
  100% {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
  }
}

// VARIABLES
$colorGray1: #333;
$colorGray2: #555;
$colorGray3: #666;
$colorGray4: #999;
$colorGray5: #ccc;
$colorGray6: #fefefe;

$colorLink:       rgb(57, 163, 255);
$colorBackground: $colorGray6;

$colorStory:  $colorLink;
$colorDefect: #DB6463;
$colorTask:   #32BF90;

$fontFamilyBase: $helvetica;
$fontSizeBase:   16px;
$fontSizeSmall:  em(12);

$smallTicket:  unit(2);
$mediumTicket: unit(4) + 0.5em;
$largeTicket:  unit(8) + 1.5em;

$headerTransition: 0.2s ease-in-out;

// ANIMATIONS

// BASE
* {
  @include box-sizing(border-box);
}

html,
body {
  background-color: $colorBackground;
  color: $colorGray1;
  font-family: $fontFamilyBase;
  font-size: 16px;
  line-height: em(22);
  overflow-x: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3 {
  color: inherit;
  font-weight: bold;
}

a {
  color: $colorLink;
  cursor: pointer;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: $fontSizeSmall;
  color: $colorGray5;
}

// MEDIA OBJECT
.media-image {
  float: left;
  margin-right: 0.5em;
}

.media-body {
  overflow: auto;
}

// BLOCKS
%block-base {
  border-radius: 3px;
  display: block;
  text-align: center;
  position: relative;
}

%block-small {
  $size: 2em;
  @extend %block-base;
  @include size($size);
  line-height: $size;
}

%block-medium {
  $size: unit(1);
  @extend %block-base;
  @include size($size);
  line-height: $size;
}

// AVATAR
%avatar-base {
  @extend %icon;
  @extend .icon-user;
  border: 1px solid $colorGray4;
  position: relative;
  color: $colorGray4;

  img {
    @include position(absolute, 0px 0 0 0px);
    border-radius: 3px;
    max-height: 100%;
    max-width: 100%;
  }
}

.avatar-small {
  @extend %avatar-base;
  @extend %block-small;
}

.avatar-medium {
  @extend %avatar-base;
  @extend %block-medium;

  &::before {
    font-size: 1.5em;
  }
}

// FORMS
#{$all-text-inputs},
textarea,
select {
  background-color: $colorGray6;
  border-radius: 3px;
  border: 1px solid $colorGray4;
  display: block;
  height: 3em;
  line-height: 1em;
  padding: 1em;
  width: 100%;
  margin-bottom: 0.5em;

  @include placeholder {
    color: $colorGray5;
    font-family: $fontFamilyBase;
    font-style: italic;
  }
}

#{$all-text-inputs-focus},
textarea:focus,
select:focus {
  outline: none;
  background: white;
  border-color: $colorLink;
  box-shadow: 0 0 0 3px rgba($colorLink, 0.3);
}

textarea {
  min-height: 5em;
}

select {
  @include appearance(menulist-button);
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  color: $colorGray3;
  font-size: $fontSizeSmall;
}

button {
  $height: 2em;
  border-radius: 3px;
  background-color: $colorLink;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: $height;
  line-height: $height - em(2);
  padding: 0 1em;

  &:hover {
    background-color: shade($colorLink, 20%);
  }
}

// LAYOUT
.width-wrapper {
  @include outer-container;
  padding: 1em;
}

.panels {
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
  padding-left: em(60) + 2em;
  overflow: visible;
}

.panel {
  @include box-flex(1);
  width: 0;
}

// LAUNCH BAR
.launch-bar {
  $top: unit(0.1) + 1em;
  @include position(fixed, 0px 0 4.75em 0px);
  width: unit(1);
  z-index: 1;
  padding: 1em 0 1em 1em;
}

.member {
  margin-bottom: 0.5em;

  &:hover,
  &.is-selected {
    border-color: $colorLink;
    color: $colorLink;
  }

  &:hover {
    box-shadow: 0 0 0 3px rgba($colorLink, 0.2);
  }

  &.is-selected {
    &:hover {
      box-shadow: none;
    }

    &::after {
      $size: 0.5em;
      $margin: -($size / 2);
      $border: 1px solid $colorLink;
      @include position(absolute, 50% 0px 0 0);
      @include size($size);
      @include transform(rotate(45deg));
      background-color: $colorGray6;
      border-bottom: $border;
      border-left: $border;
      content: "";
      margin: $margin $margin 0 0;
    }
  }

  &.member-all {
    overflow: visible;

    &::before {
      font-size: 2em;
    }
  }
}

// COMMANDLINE
.commandline {
  @include background-image(linear-gradient(to top, $colorBackground 80%, transparent));
  @include position(fixed, 0 0px 0px 0px);
  padding: 1em 1em 1em 6.75em;
  z-index: 99;

  input[type="text"] {
    position: relative;
    padding-right: 3em;
  }

  .ticket-new {
    @include position(absolute, 1.5em 1.5em 0 0);
    padding: 0;
    width: 2em;
  }

  a.current-user {
    @include position(absolute, 0 0 1em 1em);
    margin-bottom: 0;
  }
}

// LOADER
#iron-router-progress {
  background-color: $colorLink;
  box-shadow: none;
}

