// COMMANDLINE
.commandline {
  @include background-image(linear-gradient(to top, $colorBackground 80%, transparent));
  @include position(fixed, 0 0px 0px 0px);
  height: 5.75em;
  padding: 1em 1em 1em 6.75em;
  z-index: 99;

  input[type="text"] {
    position: relative;
    padding-right: 3em;
  }

  .ticket-new {
    $size: 2em;
    @include position(absolute, 1.5em 1.5em 0 0);
    border-radius: 3px;
    height: $size;
    line-height: $size;
    padding: 0;
    text-align: center;
    width: $size;

    &::before {
      font-size: 26px;
    }

    &:hover {
      background-color: $colorLink;
      color: white;
    }
  }

  a.current-user {
    @extend %block-link;
    @include position(absolute, 0 0 1em 1em);
    margin-bottom: 0;
  }
}
