@include font-face(stadium, "/fonts/stadium");

%icon:before {
  color: inherit;
  font-family: "stadium" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  @extend %icon;
}

.icon-close:before {
  content: "\e004";
}
.icon-edit:before {
  content: "\e005";
}
.icon-trash:before {
  content: "\e006";
}
.icon-bubble:before {
  content: "\e007";
}
.icon-settings:before {
  content: "\e003";
}
.icon-clip:before {
  content: "\e008";
}
.icon-clock:before {
  content: "\e009";
}
.icon-heart:before {
  content: "\e00a";
}
.icon-lab:before {
  content: "\e00b";
}
.icon-like:before {
  content: "\e00c";
}
.icon-location:before {
  content: "\e00d";
}
.icon-mail:before {
  content: "\e00e";
}
.icon-megaphone:before {
  content: "\e00f";
}
.icon-note:before {
  content: "\e010";
}
.icon-params:before {
  content: "\e011";
}
.icon-paperplane:before {
  content: "\e012";
}
.icon-search:before {
  content: "\e013";
}
.icon-t-shirt:before {
  content: "\e014";
}
.icon-user:before {
  content: "\e015";
}
.icon-world:before {
  content: "\e016";
}
.icon-bulb:before {
  content: "\e017";
}
.icon-camera:before {
  content: "\e018";
}
.icon-cloud:before {
  content: "\e019";
}
.icon-cup:before {
  content: "\e01a";
}
.icon-key:before {
  content: "\e01b";
}
.icon-lock:before {
  content: "\e01c";
}
.icon-photo:before {
  content: "\e01d";
}
.icon-stack:before {
  content: "\e01e";
}
.icon-tag:before {
  content: "\e01f";
}
.icon-team-chat:before {
  content: "\E000";
}
.icon-menu:before {
  content: "\E001";
}
