@include font-face(stadium, "/fonts/stadium");

%icon:before {
  color: inherit;
  font-family: "stadium" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon] {
  @extend %icon;
}

[data-icon="more"]:before {
  content: "\e002";
}
[data-icon="close"]:before {
  content: "\e004";
}
[data-icon="edit"]:before {
  content: "\e005";
}
[data-icon="trash"]:before {
  content: "\e006";
}
[data-icon="bubble"]:before {
  content: "\e007";
}
[data-icon="settings"]:before {
  content: "\e003";
}
[data-icon="clip"]:before {
  content: "\e008";
}
[data-icon="clock"]:before {
  content: "\e009";
}
[data-icon="heart"]:before {
  content: "\e00a";
}
[data-icon="lab"]:before {
  content: "\e00b";
}
[data-icon="like"]:before {
  content: "\e00c";
}
[data-icon="location"]:before {
  content: "\e00d";
}
[data-icon="mail"]:before {
  content: "\e00e";
}
[data-icon="megaphone"]:before {
  content: "\e00f";
}
[data-icon="note"]:before {
  content: "\e010";
}
[data-icon="params"]:before {
  content: "\e011";
}
[data-icon="paperplane"]:before {
  content: "\e012";
}
[data-icon="search"]:before {
  content: "\e013";
}
[data-icon="t-shirt"]:before {
  content: "\e014";
}
[data-icon="user"]:before {
  content: "\e015";
}
[data-icon="world"]:before {
  content: "\e016";
}
[data-icon="bulb"]:before {
  content: "\e017";
}
[data-icon="camera"]:before {
  content: "\e018";
}
[data-icon="cloud"]:before {
  content: "\e019";
}
[data-icon="cup"]:before {
  content: "\e01a";
}
[data-icon="key"]:before {
  content: "\e01b";
}
[data-icon="lock"]:before {
  content: "\e01c";
}
[data-icon="photo"]:before {
  content: "\e01d";
}
[data-icon="stack"]:before {
  content: "\e01e";
}
[data-icon="tag"]:before {
  content: "\e01f";
}
[data-icon="team-chat"]:before {
  content: "\E000";
}
[data-icon="menu"]:before {
  content: "\E001";
}
[data-icon="ticket-chat"]:before {
  content: "\E020";
}
