// MESSAGES
.messages {
  position: relative;
  margin-bottom: 4em;

  &.panel {
    display: none;
    padding: 0 2em 0 0;
  }

  .show-messages & {
    @include animation(panelIn 0.1s ease-in-out);
    display: block;
  }
}

.message {
  @include row();
  margin-bottom: 1.25em;
}

.message__image {
  @extend %media__image;
  @extend %avatar_small;
}

.message__content {
  @extend %media__body;

  small {
    margin-bottom: 0.25em;
    display: block;
    font-weight: bold;
    line-height: 1;
  }
}
