// MODALS
.close {
  @include position(absolute, 0.5em 0.5em 0 0);
  color: white;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.modal-wrapper {
  @include position(fixed, 0px 0px 0px 0px);
  background-color: rgba($colorLink, 0.8);
  z-index: 100;

  .close {
    font-size: 2em;
  }
}

.modal {
  $width: 600px;
  background-color: $colorGray6;
  border-radius: 5px;
  margin: unit(1) auto;
  padding: 1em;
  width: $width;
}

.modal-content {
  padding: 1em 0;
}
