// MODALS
.modal__close {
  @extend %close;
  color: white;
}

.modal__wrapper {
  @include position(fixed, 0 0 0 0);
  background-color: rgba($colorLink, 0.8);
  z-index: 99;
}

.modal {
  $width: 600px;
  background-color: $colorGray6;
  border-radius: 0 0 3px 3px;
  margin: 0 auto;
  padding: 1em;
  width: $width;
}

.modal__content {
  padding: 1em 0;
}
