// TICKETS
.tickets {
  @include box-flex(2);
  @include transition;
}

.ticket {
  border-radius: 3px;
  background-color: $colorBackground;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  margin: 0 0.5em 0.5em 0;
  overflow: hidden;
  padding-bottom: 3em;

  &:hover {
    text-decoration: none;
  }

  &.new {
    border-style: dashed;
    border-color: $colorGray5;
    color: $colorGray5;
    z-index: 9999;
  }

  a,
  small {
    color: inherit;
  }
}

.single-ticket {
  .ticket-container {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
  }

  .ticket {
    position: relative;
    margin: 0 0 2em;
  }
}

.ticket-title {
  $size: 2em;
  @include ellipsis;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: block;
  height: $size;
  line-height: $size;
  padding: 0 0.5em;
}

.ticket-number {
  border-radius: 3px;
  padding-left: 3px;
  font-weight: normal;
  font-size: em(12);
  float: right;
}

.ticket-description {
  padding: 0.5em;
}

.ticket-options-toggle {
  @extend %block-small;
  @include position(absolute, 0 0px 0px 0);
  opacity: 0;
  border-radius: 3px 0 0 0;
  border: 0;

  .ticket:hover & {
    opacity: 1;
  }
}

.ticket-meta {
  @include row();
  @include position(absolute, 0 0 0.5em 0);
  padding: 0 0.5em;

  .media {
    float: left;
  }

  .media-image {
    @extend .avatar-small;
    border-color: inherit;
    color: inherit;
  }

  small {
    @include ellipsis;
    display: block;
    line-height: 1.4em;
  }
}

.ticket-status {
  float: left;
}

// SIZES
$sizes: "small", "medium", "large";
$sizeSizes: $smallTicket, $mediumTicket, $largeTicket;

.ticket {
  $i: 1;
  @each $size in $sizes {
    &.#{$size} {
      width: nth($sizeSizes, $i);
    }

    $i: $i + 1;
  }
}

.small {
  .ticket-description,
  .media-image {
    display: none;
  }
}

// TYPES
$types: "story", "defect", "task";
$colors: $colorStory, $colorDefect, $colorTask;

$i: 1;
@each $type in $types {
  $typeColor: nth($colors, $i);
  .ticket.#{$type} {
    $typeColorBackground: tint($typeColor, 95%);
    border-color: $typeColor;
    color: $typeColor;
    background-color: $typeColorBackground;

    &:hover {
      box-shadow: 0 0 0 3px rgba($typeColor, 0.2);
    }

    .ticket-title {
      background-color: tint($typeColor, 85%);
    }

    .ticket-options-toggle:hover {
      background-color: $typeColor;
      color: $typeColorBackground;
    }
  }

  .modal-wrapper.#{$type} {
    background-color: rgba($typeColor, 0.8);
  }

  $i: $i + 1;
}
