// TODOS

.todo {
  @include clearfix;
  margin-bottom: 0.5em;
  position: relative;
  padding-left: 1.5em;
  border-radius: 3px;

  label {
    font-size: 1em;
    font-weight: normal;
    color: inherit;
    cursor: pointer;
  }

  input[type="checkbox"] {
    @include position(absolute, 3px null null 0);
  }

  &.is-checked {
    color: $colorGray5;
    text-decoration: line-through;
  }
}

.todo__actions {
  @include position(absolute, 0 0 null null);
  @include size(1.5em 1.5em);
  line-height: 1.5em;
  opacity: 0;
  text-align: center;
  border-radius: 3px;

  &:hover {
    background-color: $colorLink;
    color: $colorBackground;
  }

  .todo:hover & {
    opacity: 1;
  }
}

.todo_new {
  padding-top: 0.5em;

  input {
    border-color: shade($colorGray6, 10%);
  }
}
