// VARIABLES

$colorGray1: #333;
$colorGray2: #555;
$colorGray3: #666;
$colorGray4: #999;
$colorGray5: #ccc;
$colorGray6: #fefefe;

$colorLink:   rgb(57, 163, 255);
// $colorAction: rgb(48, 217, 76);

$colorStory: $colorLink;
$colorDefect: #DB6463;
$colorTask:  #32BF90;
// $color-task:   #E5BC3B;

$fontFamilyBase: $helvetica;
$fontSizeBase:   16px;
$fontSizeSmall:  em(12);


$storiesUnit: em(60);
$smallStory:  $storiesUnit * 3;
$mediumStory: $storiesUnit * 6 + 0.5em;
$largeStory:  $storiesUnit * 9 + 1em;

// HELPERS

@function unit($multiple) {
  @return $unit * $multiple;
}

// BASE
* {
  @include box-sizing(border-box);
}

html,
body {
  background-color: $colorGray6;
  color: $colorGray1;
  font-family: $fontFamilyBase;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3 {
  color: inherit;
  font-weight: bold;
}

a {
  color: $colorLink;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

small {
  font-size: $fontSizeSmall;
}

// FORMS
#{$all-text-inputs},
textarea {
  background-color: $colorGray6;
  border-radius: 3px;
  border: 1px solid $colorGray5;
  display: block;
  height: unit(1.25);
  line-height: unit(0.75);
  padding: unit(0.25) unit(0.5);

  @include placeholder {
    color: $colorGray5;
    font-family: $fontFamilyBase;
    font-style: italic;
  }
}

textarea {
  min-height: unit(2.5);
}

#{$all-text-inputs-focus},
textarea:focus {
  background: white;
  border-color: $colorLink;
  box-shadow: 0 0 0 3px rgba($colorLink, 0.3);
}

button {
  $height: 2em;
  border-radius: 3px;
  border: 1px solid $colorLink;
  color: $colorLink;
  cursor: pointer;
  font-weight: bold;
  height: $height;
  line-height: $height - em(2);
  padding: 0 1em;

  &:hover {
    background-color: $colorLink;
    color: white;
  }
}

.button-knockout {
  border-color: $colorGray6;
  color: $colorGray6;

  &:hover {
    background-color: $colorGray6;
    color: $colorLink;
  }
}

// CONTENT
.header-global {
  @include outer-container;
  @include pad(unit(0.5) default);
  border-bottom: 1px solid $colorGray5;
}

.nav-global {
  width: 6em;
  margin: 0 auto;
}

.nav-global-item {
  $border: 1px solid $colorLink;
  @include size(2em);
  border: $border;
  display: block;
  float: left;
  line-height: 2em;
  margin-left: -1px;
  text-align: center;

  &:hover {
    box-shadow: inset 0 0 0 1px $colorLink;
  }

  &:first-child {
    @include border-left-radius(3px);
    border-left: $border;
  }

  &:last-child {
    @include border-right-radius(3px);
    border-right: $border;
  }

  &.is-selected {
    background-color: $colorLink;
    color: $colorGray6;
  }
}

.login-buttons-dropdown-align-right {
  float: right;
  display: none !important;
}

// LAYOUT

.sections {
  @include outer-container;
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
}

%section {
  @include box-flex(1);
  width: 0; // Gives the Flex sections equal widths
  display: none;
}

%header {
  border-bottom: 1px solid $colorGray5;
  height: 4em;
  line-height: 2em;
  padding: 1em;
}

// MODALS
.close {
  @include position(absolute, 0.5em 0.5em 0 0);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.modal-wrapper {
  @include position(fixed, 0px 0px 0px 0px);
  background-color: rgba($colorLink, 0.9);
}

.modal {
  @include size(50%);
  @include position(absolute, 0px 0px 0px 0px);
  color: white;
  margin: auto;
  overflow: auto;
  padding: 1em;
}

.modal-header {
  padding-bottom: 1em;
}

.modal-footer {
  @include row();
  padding-top: 1em;

  button {
    border-color: white;
    color: white;
    float: right;

    &:hover {
      background-color: white;
      color: $colorLink;
    }
  }
}
