// HELPERS
@function unit($multiple) {
  @return $unit * $multiple;
}

@mixin square-image {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

// VARIABLES
$colorGray1: #333;
$colorGray2: #555;
$colorGray3: #666;
$colorGray4: #999;
$colorGray5: #ccc;
$colorGray6: #fefefe;

$colorLink:       rgb(57, 163, 255);
$colorBackground: $colorGray6;

$colorStory:  $colorLink;
$colorDefect: #DB6463;
$colorTask:   #32BF90;

$fontFamilyBase: $helvetica;
$fontSizeBase:   16px;
$fontSizeSmall:  em(12);

$smallStory:  unit(2);
$mediumStory: unit(4) + 0.5em;
$largeStory: unit(8) + 1.5em;

$headerTransition: 0.2s ease-in-out;

// ANIMATIONS

// BASE
* {
  @include box-sizing(border-box);
}

html,
body {
  background-color: $colorBackground;
  color: $colorGray1;
  font-family: $fontFamilyBase;
  font-size: 16px;
  line-height: em(22);
  overflow-x: hidden;
  overflow-y: scroll;
}

h1, h2, h3 {
  color: inherit;
  font-weight: bold;
}

a {
  color: $colorLink;
  cursor: pointer;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: $fontSizeSmall;
}

// MEDIA
.media {

}

.media-image {
  float: left;
  margin-right: 0.5em;
}

.media-body {
  overflow: auto;
}

// BLOCKS
%block-base {
  border-radius: 3px;
  display: block;
  text-align: center;
  position: relative;
}

%block-small {
  $size: 2em;
  @extend %block-base;
  @include size($size);
  line-height: $size;
}

%block-medium {
  $size: unit(1);
  @extend %block-base;
  @include size($size);
  line-height: $size;
}

// FORMS
#{$all-text-inputs},
textarea {
  background-color: $colorGray6;
  border-radius: 3px;
  border: 1px solid $colorGray5;
  display: block;
  height: 3em;
  line-height: 1em;
  padding: 1em;
  width: 100%;
  margin-bottom: 0.5em;

  @include placeholder {
    color: tint($colorLink, 50%);
    font-family: $fontFamilyBase;
    font-style: italic;
  }
}

#{$all-text-inputs-focus},
textarea:focus {
  background: white;
  border-color: $colorLink;
  box-shadow: 0 0 0 3px rgba($colorLink, 0.3);
}

button {
  $height: 2em;
  border-radius: 3px;
  border: 1px solid $colorLink;
  color: $colorLink;
  cursor: pointer;
  font-weight: bold;
  height: $height;
  line-height: $height - em(2);
  padding: 0 1em;

  &:hover {
    background-color: $colorLink;
    color: white;
  }
}

.button-knockout {
  border-color: $colorGray6;
  color: $colorGray6;

  &:hover {
    background-color: $colorGray6;
    color: $colorLink;
  }
}

// CONTENT
.login-buttons-dropdown-align-right {
  float: right;
}

// LAYOUT
.width-wrapper {
  @include outer-container;
  margin: 3em auto 0;
  padding: 1em 0;
}

.launch-bar {
  $top: unit(0.1) + 1em;
  @include transition(margin $headerTransition);
  @include position(fixed, 3em 0 0px 0px);
  width: unit(1);
  z-index: 1;
  padding: 1em 0 1em 1em;
}

.panels {
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
  padding-left: em(60) + 2em;
  overflow: visible;
}

.panel {
  @include box-flex(1);
  width: 0;
}

// AVATAR
%avatar-base {
  @extend %icon;
  @extend .icon-user;
  border: 1px solid $colorGray4;
  position: relative;
  color: $colorGray4;

  img {
    @include position(absolute, 0px 0 0 0px);
    border-radius: 3px;
    max-height: 100%;
    max-width: 100%;
  }
}

.avatar-small {
  @extend %avatar-base;
  @extend %block-small;
}

.avatar-medium {
  @extend %avatar-base;
  @extend %block-medium;

  &::before {
    font-size: 1.5em;
  }
}

// LAUNCH BAR
.launch-bar a {
  margin-bottom: 0.5em;

  &:hover,
  &.is-selected {
    border-color: $colorLink;
    color: $colorLink;
  }

  &:hover {
    box-shadow: 0 0 0 3px rgba($colorLink, 0.2);
  }

  &.is-selected {
    &:hover {
      box-shadow: none;
    }

    &::after {
      $size: 0.5em;
      $margin: -($size / 2);
      $border: 1px solid $colorLink;
      @include position(absolute, 50% 0px 0 0);
      @include size($size);
      @include transform(rotate(45deg));
      background-color: $colorGray6;
      border-bottom: $border;
      border-left: $border;
      content: "";
      margin: $margin $margin 0 0;
    }
  }

  &.icon-team-chat::before {
    font-size: 2em;
  }
}

a.member-all {
  @extend %icon;
  @extend .avatar-medium;
  @extend .icon-team-chat;
  overflow: visible;
}

a.current-user {
  @include position(absolute, 0 0 1em 0);
  margin-bottom: 0;
}

// MODALS
.close {
  @include position(absolute, 0.5em 0.5em 0 0);
  opacity: 0.5;
  color: white;

  &:hover {
    opacity: 1;
  }
}

.modal-wrapper {
  @include position(fixed, 0px 0px 0px 0px);
  background-color: $colorLink;
  z-index: 100;

  .close {
    font-size: 2em;
  }
}

.modal {
  @include size(33% 50%);
  @include position(absolute, 0px 0px 0px 0px);
  margin: auto;
  overflow: auto;
  padding: 1em;
  color: white;

  #{$all-text-inputs},
  textarea {
    border: 0;
  }

  button {
    width: 100%;
  }
}

// .modal-header {
//   padding-bottom: 1em;
// }
//
// .modal-footer {
//   @include row();
//   padding-top: 1em;
//
//   button {
//     border-color: white;
//     color: white;
//     float: right;
//
//     &:hover {
//       background-color: white;
//       color: $colorLink;
//     }
//   }
// }
