// HELPERS
@function unit($multiple) {
  @return $unit * $multiple;
}

// VARIABLES
$colorGray1: #333;
$colorGray2: #555;
$colorGray3: #666;
$colorGray4: #999;
$colorGray5: #ccc;
$colorGray6: #fefefe;

$colorLink:   rgb(57, 163, 255);
// $colorAction: rgb(48, 217, 76);

$colorStory: $colorLink;
$colorDefect: #DB6463;
$colorTask:  #32BF90;
// $color-task:   #E5BC3B;

$fontFamilyBase: $helvetica;
$fontSizeBase:   16px;
$fontSizeSmall:  em(12);

$smallStory:  unit(4);
// $mediumStory: $storiesUnit * 6 + 0.5em;
// $largeStory:  $storiesUnit * 9 + 1em;

// ANIMATIONS
@include keyframes(panelIn) {
  0% {
    @include transform(translate3d(100%, 0, 0));
    opacity: 0;
  }
  100% {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
  }
}

// BASE
* {
  @include box-sizing(border-box);
}

html,
body {
  background-color: $colorGray6;
  color: $colorGray1;
  font-family: $fontFamilyBase;
  font-size: 16px;
  line-height: em(22);
}

h1, h2, h3 {
  color: inherit;
  font-weight: bold;
}

a {
  color: $colorLink;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

small {
  font-size: $fontSizeSmall;
}

// FORMS
#{$all-text-inputs},
textarea {
  background-color: $colorGray6;
  border-radius: 3px;
  border: 1px solid $colorGray5;
  display: block;
  height: 3em;
  line-height: 1em;
  padding: 1em;

  @include placeholder {
    color: $colorGray5;
    font-family: $fontFamilyBase;
    font-style: italic;
  }
}

textarea {
  min-height: unit(2.5);
}

#{$all-text-inputs-focus},
textarea:focus {
  background: white;
  border-color: $colorLink;
  box-shadow: 0 0 0 3px rgba($colorLink, 0.3);
}

button {
  $height: 2em;
  border-radius: 3px;
  border: 1px solid $colorLink;
  color: $colorLink;
  cursor: pointer;
  font-weight: bold;
  height: $height;
  line-height: $height - em(2);
  padding: 0 1em;

  &:hover {
    background-color: $colorLink;
    color: white;
  }
}

.button-knockout {
  border-color: $colorGray6;
  color: $colorGray6;

  &:hover {
    background-color: $colorGray6;
    color: $colorLink;
  }
}

// CONTENT
.login-buttons-dropdown-align-right {
  float: right;
  display: none !important;
}

// LAYOUT
.width-wrapper {
  @include outer-container;
  margin: 1em auto;
}

.launch-bar {
  @include position(fixed, 1em 0 1em 1em);
  width: unit(1);
  z-index: 1;
}

.panels {
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
  padding-left: em(60) + 2em;
}

.panel {
  @include box-flex(1);
  width: 0;
}

// LAUNCH BAR
.launch-bar a {
  @include size(unit(1));
  border-radius: 3px;
  border: 1px solid $colorGray4;
  color: $colorGray4;
  display: block;
  line-height: unit(1);
  margin-bottom: 0.5em;
  text-align: center;
  position: relative;

  &:hover,
  &.is-selected {
    border-color: $colorLink;
    color: $colorLink;
  }

  &:hover {
    box-shadow: 0 0 0 3px rgba($colorLink, 0.2);
  }

  &.is-selected {
    &:hover {
      box-shadow: none;
    }

    &::after {
      $size: 0.5em;
      $margin: -($size / 2);
      $border: 1px solid $colorLink;
      @include transform(rotate(45deg));
      content: "";
      @include size($size);
      @include position(absolute, 50% 0px 0 0);
      border-bottom: $border;
      border-left: $border;
      margin: $margin $margin 0 0;
      background-color: $colorGray6;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &[class*="icon-"]:before {
    font-size: 2em;
    @include position(relative, 7px 0 0 0);
  }
}

a.logo {
  background-color: $colorGray4;
  margin-bottom: 2em;
}

a.current-user {
  @include position(absolute, 0 0 0px 0);
  margin-bottom: 0;
}

// MODALS
.close {
  @include position(absolute, 0.5em 0.5em 0 0);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.modal-wrapper {
  @include position(fixed, 0px 0px 0px 0px);
  background-color: rgba($colorLink, 0.9);
}

.modal {
  @include size(50%);
  @include position(absolute, 0px 0px 0px 0px);
  color: white;
  margin: auto;
  overflow: auto;
  padding: 1em;
}

.modal-header {
  padding-bottom: 1em;
}

.modal-footer {
  @include row();
  padding-top: 1em;

  button {
    border-color: white;
    color: white;
    float: right;

    &:hover {
      background-color: white;
      color: $colorLink;
    }
  }
}
