.messages {
  @extend %section;
}

.messages-header {
  @extend %header;
}

.messages-list {
  @include pad(default);
}

.message {
  @include row();
  margin-bottom: 0.75em;
}

.message-avatar {
  @include size(2.25em);
  border-radius: 3px;
  // border: 1px solid $colorGray5;
  float: left;
  margin-right: 0.5em;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.message-content {
  float: left;

  small {
    color: $colorGray5;
    display: block;
    font-weight: bold;
    line-height: 1;
  }
}

.message-add {
  @include position(fixed, 0 unit(1) 0px 0px);
  @include shift(6);
  background-color: white;
  height: unit(2.5);
  z-index: 1;

  input[type="text"] {
    @include fill-parent;
    border-width: 2px;
  }
}
