.messages {
  @extend %section;
}

.messages-list {
  @include pad(default);
}

.message-add {
  @include position(fixed, 0 unit(1) 0px 0px);
  @include shift(6);
  background-color: white;
  height: unit(2.5);
  z-index: 1;

  input[type="text"] {
    @include fill-parent;
    border-width: 2px;
  }
}
