
.stories {
  @include outer-container;
  @include fill-parent;
}

%stories-endcap {
  padding: 1em;
  line-height: 2em;
  height: 4em;
}

.stories-header {
  @extend %stories-endcap;
  border-bottom: 1px solid $colorGray5;
}

.stories-list {
  padding: 0.5em;
}

.story {
  @include fill-parent;
  @include size(150px);
  border-radius: 3px;
  border: 1px solid $colorGray5;
  color: $colorGray4;
  cursor: pointer;
  float: left;
  margin-bottom: 1em;
  margin: 0.25em;
  padding: 1em;
  overflow: hidden;

  &:hover,
  &.is-selected {
    color: $colorLink;
    border-color: $colorLink;
  }

  &.is-selected {
    background-color: white;
  }

  &.is-adding {
    width: 300px;

    #new_story_toggle {
      display: none;
    }

    .story-new {
      display: block;
    }
  }
}

.story-new {
  display: none;

  #{$all-text-inputs},
  textarea {
    @include fill-parent;
  }

  button {
    margin-top: 1em;
    float: right;
  }
}
