$storiesUnit: em(50);

$smallStory:  $storiesUnit * 3;
$mediumStory: $storiesUnit * 6 + 0.5em;
$largeStory:  $storiesUnit * 9 + 1em;

.stories {
  @include outer-container;
  @include fill-parent;
}

.stories-header {
  @extend %stories-endcap;
  border-bottom: 1px solid $colorGray5;
  padding: 1em;
  line-height: 2em;
  height: 4em;
}

.stories-list {
  margin: 0.75em;
}

.story {
  @include transition();
  @include fill-parent;
  @include size($smallStory auto);
  margin: 0.25em;
  border-radius: 3px;
  border: 1px solid $colorGray5;
  color: $colorGray4;
  cursor: pointer;
  padding: 1em;
  overflow: hidden;

  &:hover,
  &.is-selected {
    color: $colorLink;
    border-color: $colorLink;
  }

  &.is-selected {
    background-color: white;
  }

  &.new {
    border-style: dashed;
    background-color: $colorGray6;
    z-index: 9999;
  }

  &.is-adding {
    @include size(em(300)+0.5em);
    border-style: solid;

    #new_story_toggle {
      display: none;
    }

    .story-new {
      display: block;
    }
  }
}

.story.medium {
  @include size($mediumStory);
}

.story.large {
  @include size($largeStory);
}

.story-new {
  display: none;

  #{$all-text-inputs},
  textarea {
    @include fill-parent;
  }

  button {
    margin-top: 1em;
    float: right;
  }
}
