// STORIES
.tickets {
  @include transition;
  padding-left: 1em;

  .show-chat & {
    @include transform(translate3d(100%, 0, 0));
  }
}

.ticket {
  @include size($smallStory auto);
  border-radius: 3px;
  background-color: $colorGray6;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  margin: 0 0.5em 0.5em 0;
  overflow: hidden;
  padding: 1em;

  &.new {
    border-style: dashed;
    z-index: 9999;
  }

  &.is-adding {
    @include size(em(300)+0.5em);
    border-style: solid;

    #new_story_toggle {
      display: none;
    }

    .ticket-new {
      display: block;
    }
  }

  a {
    color: inherit;
  }
}

.ticket-menu-toggle {
  @include position(absolute, 0.5em 0.5em 0 0);
  opacity: 0;

  .ticket:hover & {
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}

.ticket-menu {
  margin-top: 1em;
}

.ticket-menu-item {
  border-radius: 3px;
  display: block;
  height: 2em;
  line-height: 2em;
  margin-bottom: 0.25em;
  padding: 0 0.5em;
  text-decoration: none;

  &:hover {
    background-color: $colorGray6;
  }

  &[class*="icon-"]:before {
    margin-right: 10px;
    top: 2px;
  }
}

.ticket-meta {
  @include row();
  margin-top: 1em;

  .media {
    float: left;
  }

  .media-image {
    @extend %avatar-small;
    border-color: inherit;
    color: inherit;
  }

  small {
    display: block;
    line-height: 1.4em;
  }
}

.ticket-status {
  float: left;
}

.ticket-size {
  @extend %block-small;
  float: right;
  color: $colorGray6;
  font-weight: bold;
}

// TYPES
$types: "story", "defect", "task";
$colors: $colorStory, $colorDefect, $colorTask;

.ticket {
  $i: 1;
  @each $type in $types {
    $typeColor: nth($colors, $i);
    &.#{$type} {
      border-color: $typeColor;
      color: $typeColor;

      &:hover {
        box-shadow: 0 0 0 3px rgba($typeColor, 0.2);
      }

      &.is-selected {
        background-color: $typeColor;
        color: $colorGray6;
      }

      .ticket-menu-item:hover {
        color: $typeColor;
      }

      .button-knockout:hover {
        color: $typeColor;
      }

      .ticket-size {
        background-color: $typeColor;
      }
    }

    $i: $i + 1;
  }
}

// NEW TICKETS
.ticket-new {
  display: none;

  #{$all-text-inputs},
  textarea {
    @include fill-parent;
  }

  button {
    float: right;
    margin-top: 1em;
  }
}
