<template name="editTicket">
  <h3>Edit ticket</h3>
  <select class="mrt_edit-ticket_type">
    <option value="story">Story</option>
    <option value="defect">Defect</option>
    <option value="task">Task</option>
  </select>
  <select class="mrt_edit-ticket_size">
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
  </select>
  <select class="mrt_edit-ticket_status">
    <option value="someday">Someday</option>
    <option value="backlog">Backlog</option>
    <option value="current">Current</option>
    <option value="done">Done</option>
  </select>
  <textarea class="mrt_edit-ticket_tag">{{tag}}</textarea>
  <button class="button-knockout mrt_edit-ticket">Save {{type}}</button>
</template>
