<template name="ticketForm">
  <fieldset>
    <label>Size</label>
    <select class="mrt_new-ticket_size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
  </fieldset>
  <fieldset>
    <label>Status</label>
    <select class="mrt_new-ticket_status">
      <option value="To do">To do</option>
      <option value="Doing">Doing</option>
      <option value="Done">Done</option>
    </select>
  </fieldset>
  <fieldset>
    <label>Tag</label>
    <input type="text" class="mrt_new-ticket_tag" placeholder="Tags help organized your tickets">
  </fieldset>
  <fieldset>
    <label>Description</label>
    <textarea class="mrt_new-ticket_description" placeholder="Describe this ticket"></textarea>
  </fieldset>
</template>
