<template name="singleTicket">
  <div class="panel single-ticket">
    <div class="ticket-container">
      <div class="ticket {{type}} {{status}}">
        {{> ticketContent}}
      </div>
      <div class="ticket-messages">
        {{#each ticketMessages}}
          <div class="message">
            <div class="avatar-small media-image"></div>
            <div class="message-content media-body">
              <small>{{name}}{{#if typing}} is typing...{{/if}}</small>
              {{message}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
