<template name="tickets">
  <div class="tickets">
    {{#each ticket}}
      <a class="ticket {{type}} {{size}} {{status}}{{#if showTicketActions}} is-focused{{/if}}">
        {{> ticketContent}}
        {{#if showTicketActions}}
          <div class="ticket__actions">
            <button>Start</button>
            <a>Edit this ticket</a>
          </div>
        {{/if}}
      </a>
    {{/each}}
  </div>
  {{> ticketsBackground}}
</template>

<template name="ticketsBackground">
  {{#if background}}
    <a class="ticket__close mtr_close-ticket" data-icon="close"></a>
    <div class="tickets__background"></div>
  {{/if}}
</template>
