<template name="commandline">
  <div class="commandline">
    <input type="text"
      class="commandline__input mrt_commandline-input"
      placeholder='Type "/help" for a list of commands'>
    <a class="commandline__action"
      data-icon="more"
      data-modal-template="newTicket"
      title="Add a new ticket"></a>
    <a class="commandline__current-user" data-dropdown-template="userDropdown">
      {{currentUserAvatar}}
    </a>
  </div>
</template>

<template name="userDropdown">
  {{> loginButtons}}
</template>
